// Colores generales
//=====================================
$oscuro				:#000;
$claro				:#fff;
$estrella			:#ecd225;
$gris				:#b1b1b1;


// Tamaños generales
//=====================================
$margin				:80px;
$porcentaje			:50%;
$alto				:100px;
$ancho				:100px;

// Fuentes
//=====================================

